Templates(
    entities : [
        Template(
            entity_type: Item,
            name: "Healing Potion", glyph: '!', levels : [0, 1, 2],
            provides: Some([("Healing", 5)]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Old Key", glyph: '\'', levels: [0, 1, 2, 3],
            provides: Some([("Utility", 0)]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map", glyph: '{', levels : [0],
            provides: Some([("MagicMap", 0)]),
            frequency: 1
        ),
        Template(
            entity_type: FovBoost,
            name: "Fountain of Foresight", glyph: '`', levels : [0, 1, 2],
            provides: Some([("NVision", 1)]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Light Armor", glyph: 'a', levels : [1, 2],
            provides: Some([("Armor", 2)]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Heavy Armor", glyph: 'Φ', levels : [0],
            provides: Some([("Armor", 5)]),
            frequency: 1
        ),
        Template (
            entity_type: Item,
            name: "Anti-poison", glyph: ',', levels: [0, 1, 2, 3],
            provides: Some([("PoisonResistance", 1)]),
            frequency: 1
        ),
        Template(
            entity_type: Score,
            name: "Treasure Medallion", glyph: '&', levels : [0, 1, 2],
            provides: Some([("Score", 100)]),
            frequency: 1
        ),
        Template(
            entity_type: Enemy,
            name: "Goblin", glyph: 'g', levels: [0],
            hp: Some(1),
            frequency: 1,
            base_damage: Some(1),
            provides: Some([("Score", 50)])
        ),
        Template(
            entity_type: Enemy,
            name: "Orc", glyph: 'o', levels: [0, 1],
            hp: Some(2),
            frequency: 2,
            base_damage: Some(1),
            provides: Some([("Score", 75)])
        ),
        Template(
            entity_type: Enemy,
            name: "Ogre", glyph: 'O', levels: [1, 2],
            hp: Some(3),
            frequency: 2,
            base_damage: Some(2),
            provides: Some([("Score", 100)])
        ),
        Template(
            entity_type: Enemy,
            name: "Ducephalon", glyph: 'E', levels: [2, 3],
            hp: Some(4),
            frequency: 1,
            base_damage: Some(4),
            provides: Some([("Score", 125)])
        ),
        Template(
            entity_type: Enemy,
            name: "Visage", glyph: 'u', levels: [1, 2, 3],
            hp: Some(3),
            frequency: 1,
            base_damage: Some(2),
            provides: Some([("Score", 25)])
        ),
        Template(
            entity_type: Enemy,
            name: "Fallen Angel", glyph: 'e', levels: [2],
            hp: Some(6),
            frequency: 1,
            base_damage: Some(2),
            provides: Some([("Score", 150)])
        ),
        Template(
            entity_type: Enemy,
            name: "Okulos", glyph: 'Ω', levels: [1],
            hp: Some(3),
            frequency: 1,
            base_damage: Some(2),
            provides: Some([("Score", 100)])
        ),
        Template(
            entity_type: Enemy,
            name: "Wraith", glyph: ':', levels: [3],
            hp: Some(8),
            frequency: 1,
            base_damage: Some(2),
            provides: Some([("Score", 200)])
        ),
        Template(
            entity_type: Item,
            name: "Rusty Sword", glyph: 's', levels: [0],
            frequency: 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Item,
            name: "Superior Sword", glyph: 'S', levels: [0, 1],
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Item,
            name: "Champion Sword", glyph: '/', levels: [2],
            frequency: 1,
            base_damage: Some(3)
        )
    ],
)